<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         executionOrder="depends,defects"
         failOnWarning="true"
         failOnRisky="true"
         failOnEmptyTestSuite="true"
         beStrictAboutOutputDuringTests="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Database">
            <directory>tests/Feature</directory>
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    
    <source>
        <include>
            <directory>app</directory>
        </include>
        <exclude>
            <directory>app/Console/Commands</directory>
            <file>app/Http/Kernel.php</file>
            <file>app/Providers/RouteServiceProvider.php</file>
        </exclude>
    </source>
    
    <coverage>
        <report>
            <html outputDirectory="coverage/html"/>
            <clover outputFile="coverage/clover.xml"/>
            <text outputFile="coverage/coverage.txt"/>
        </report>
    </coverage>
    
    <logging>
        <junit outputFile="test-results/phpunit.xml"/>
        <testdoxHtml outputFile="test-results/testdox.html"/>
        <testdoxText outputFile="test-results/testdox.txt"/>
    </logging>
    
    <groups>
        <include>
            <group>database</group>
        </include>
    </groups>
    
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:2fl+Ktvkdphvz9JfhiJdD3F6XgOQmAFWwEC5254Q2+I="/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value="database/testing.sqlite"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
        
        <!-- Testing specific configurations -->
        <env name="LOG_CHANNEL" value="single"/>
        <env name="LOG_LEVEL" value="debug"/>
        <env name="BROADCAST_CONNECTION" value="log"/>
        <env name="FILESYSTEM_DISK" value="local"/>
        
        <!-- Disable external services -->
        <env name="PUSHER_APP_ID" value=""/>
        <env name="PUSHER_APP_KEY" value=""/>
        <env name="PUSHER_APP_SECRET" value=""/>
        
        <!-- Performance settings for CI -->
        <env name="VIEW_COMPILED_PATH" value=""/>
        <env name="ASSET_URL" value=""/>
    </php>
</phpunit>
